<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    {{> header}}

    <p>{{first}}</p>

    <hr />
    <p>{{helper_name}}</p>

    <hr />
    <p>{{loud firstname}}</p>
    <p>{{loud lastname}}</p>

    <hr />
    {{#each people}}
      <p>{{print_person}}</p>
    {{/each}}
  </body>
</html>